.fav-button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 35px;
    background-size: 45px;
    box-shadow: 5px 17px 57px -8px rgba(0,0,0,0.89);
    z-index: 100;
}